.character-avatar {
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  grid-row: 1 / 3;
  grid-column: 1;
  justify-self: center;
}

.character-avatar img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.character-name {
  display: grid;

  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr;

  column-gap: 1rem;
  row-gap: 0.5rem;

  align-items: start;
}

.name {
  grid-column: 2;
  grid-row: 1;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: bottom;
}

.description {
  grid-column: 2;
  grid-row: 2;
  color: var(--text-color-secondary);
  text-align: top;
}

.stats {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  column-gap: 1rem;
  row-gap: 0.5rem;

  align-items: center;
}
