@if (loading) {
  <p>Cargando personaje...</p>
} @else if (character) {
  <p-card>
    <div class="character-name">
      <p-avatar [image]="character.decorations?.avatarUrl" class="character-avatar" size="xlarge"></p-avatar>
      <div class="name">{{ character.name }}</div>
      <div class="description">
        {{ character.race.baseRaceName }}
        <!-- hacer un for? -->
        {{ character.classes[0].definition.name }}
        {{ character.classes[0].level }}
      </div>
    </div>
  </p-card>
  <p-card>
    <div class="stats">
      <div class="strength">
        Strength
        {{ characterStats.strength }}
        +{{ computeModifier(characterStats.strength) }}
      </div>
      <div class="dexterity">
        Dexterity
        {{ characterStats.dexterity }}
        +{{ computeModifier(characterStats.dexterity) }}
      </div>
      <div class="constitution">
        Constitution
        {{ characterStats.constitution }}
        +{{ computeModifier(characterStats.constitution) }}
      </div>
      <div class="intelligence">
        Intelligence
        {{ characterStats.intelligence }}
        +{{ computeModifier(characterStats.intelligence) }}
      </div>
      <div class="wisdom">
        Wisdom
        {{ characterStats.wisdom }}
        +{{ computeModifier(characterStats.wisdom) }}
      </div>
      <div class="charisma">
        Charisma
        {{ characterStats.charisma }}
        +{{ computeModifier(characterStats.charisma) }}
      </div>
    </div>
  </p-card>
  <p-card>
    <p><strong>Actions</strong></p>
    @for(action of characterActions; track $index){
      <p><strong>{{action.name}}</strong></p>
      @for(entry of action.entries; track $index){
        <p [innerHTML]="processEntry(entry)"></p>
      }
    }
    <p><strong>Bonus actions</strong></p>

    <p><strong>Reactions</strong></p>

    <p><strong>Other</strong></p>

  </p-card>
  <p-card>
    <div class="spells">
      <p><strong>Spells</strong></p>
      <p-accordion [value]="['0']" [multiple]="true">
        @for(spell of characterSpells; track $index){
          <p-accordion-panel [value]="$index">
            <p-accordion-header>
              <div class="spell-header">
                <span class="spell-name">
                  {{ spell.name }}
                </span>
                <span class="spell-level" [innerHTML]="processSpellLevel(spell.level)"></span>
              </div>
            </p-accordion-header>
            <p-accordion-content>
              @for (entry of spell.entries; track $index) {
                <p [innerHTML]="processEntry(entry)"></p>
              }
            </p-accordion-content>
          </p-accordion-panel>
        }
      </p-accordion>
    </div>
  </p-card>
}
