<p-button
  label="Atrás"
  icon="pi pi-arrow-left"
  styleClass="p-button-secondary"
  (onClick)="goBack()"
>
</p-button>

<p-inputNumber
  [(ngModel)]="selectedLevel"
  [min]="1"
  [showButtons]="true"
  (onInput)="applyFilters()"
  placeholder="Nivel"
>
</p-inputNumber>

<input
  type="text"
  pInputText
  [(ngModel)]="searchText"
  (input)="applyFilters()"
  placeholder="Search class feature..."
/>

<h1>Class Feature</h1>
<p-accordion [value]="['0']" [multiple]="true">
  @for (classFeature of filteredClassFeatures; track $index) {
    <p-accordion-panel [value]="$index">
      <p-accordion-header>
        <div class="feature-header">
          <span class="feature-name">
            {{ classFeature.name }}
          </span>
          <span class="feature-level"> Level {{ classFeature.level }} </span>
        </div>
      </p-accordion-header>
      <p-accordion-content>
        @for (entry of classFeature.entries; track $index) {
          @if (entry && typeof entry === 'object') {
            @for (e of entry.items; track $index) {
              <p>{{ e }}</p>
            }
          } @else {
            <p>{{ entry }}</p>
          }
        }
      </p-accordion-content>
    </p-accordion-panel>
  }
</p-accordion>
