<article class="player-action">
  <span class="player-action__icon" [class.player-action__icon--bonus]="type === 'bonus'" [class.player-action__icon--reaction]="type === 'reaction'" aria-hidden="true">
    @switch (type) {
      @case ('bonus') {
        <svg viewBox="0 0 24 24"><path d="m13 2-8 12h6l-1 8 9-13h-6l1-7Z" /></svg>
      }
      @case ('reaction') {
        <svg viewBox="0 0 24 24"><path d="M12 3 19 6v5c0 4.4-2.8 8.4-7 10-4.2-1.6-7-5.6-7-10V6l7-3Z" /></svg>
      }
      @default {
        <svg viewBox="0 0 24 24"><path d="m14.5 17.5 3-3M3 21l6.5-6.5M14 4l6 6-8.5 8.5-6-6L14 4Z" /></svg>
      }
    }
  </span>

  <div class="player-action__body">
    <div class="player-action__header">
      <h4 class="player-action__name">{{ displayName }}</h4>
      <span class="player-action__badge">{{ typeLabel }}</span>
    </div>

    @if (displayAttack || displayDamage) {
      <div class="player-action__details">
        @if (displayAttack) {
          <span class="player-action__attack">Ataque: {{ displayAttack }}</span>
        }
        @if (displayDamage) {
          <span>Daño: {{ displayDamage }}</span>
        }
      </div>
    }

    <div class="player-action__description" [innerHTML]="descriptionHtml"></div>
  </div>
</article>
