<p-accordion styleClass="player-action">
  <p-accordion-panel value="description">
    <p-accordion-header>
      <span class="player-action__summary">
        <span
          class="player-action__icon"
          [class.player-action__icon--bonus]="type === 'bonus'"
          [class.player-action__icon--reaction]="type === 'reaction'"
          aria-hidden="true"
        >
          @switch (type) {
            @case ('bonus') {
              <span class="material-symbols-outlined">bolt</span>
            }
            @case ('reaction') {
              <span class="material-symbols-outlined">reply</span>
            }
            @case ('other') {
              <span class="material-symbols-outlined">star</span>
            }
            @default {
              <span class="material-symbols-outlined">swords</span>
            }
          }
        </span>

        <span class="player-action__body">
          <span class="player-action__header">
            <span class="player-action__name">{{ displayName }}</span>
            <span class="player-action__badge">{{ typeLabel }}</span>
          </span>

          @if (displayAttack || displayDamage) {
            <span class="player-action__details">
              @if (displayAttack) {
                <span class="player-action__attack">Ataque: {{ displayAttack }}</span>
              }
              @if (displayDamage) {
                <span>Dados: {{ displayDamage }}</span>
              }
            </span>
          }
        </span>
      </span>
    </p-accordion-header>

    <p-accordion-content>
      <div class="player-action__description" [innerHTML]="descriptionHtml"></div>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
